<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E - Commerce Website</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-conatiner">
        <div class="heading">
            <h1>Select your Choice</h1>
        </div>

        <div class="container">
            <button class="btn" href="men">Men</button>
           
            <button class="btn">Women</button>
            <button class="btn">Kids</button>
        </div>

        <div class="product-details" id="men">
            <div class="card">
                <!-- img 1 -->
                <img src="/images/img1.webp" alt="">
                <div id="tab">New season</div>
                <div class="pro-head">
                    <h2>Mens Shirt    </h2>
                    <li>Manywar</li>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button>
                
            </div>
            <div class="card">
                <!-- img 2 -->
                <img src="/images/img1.webp" alt="">
                <div class="pro-head">
                    <h2>Mens Shirt    </h2>
                    <li>Manywar</li>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                    
                </div>
                <button class="btn-1">Add to card</button>
            </div>
            <div class="card">
                <!-- img 3 -->
                <img src="/images/img1.webp" alt="">
                <div id="tab">On offer</div>
                <div class="pro-head">
                    <h2>Mens Shirt    </h2>
                    <li>Manywar</li>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button>
            </div>
            <div class="card">
                <!-- img 4 -->
                <img src="/images/img1.webp" alt="">
                <div id="tab">New season</div>
                <div class="pro-head">
                    <h2>Mens Shirt    </h2>
                    <li>Manywar</li>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button> 
            </div>
        </div>
    </div>
    
</body>
</html>