<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E - Commerce Website</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-conatiner">
        <div class="heading">
            <h1>Select Your Choice</h1>
        </div>

        <div class="container">
            <!-- <a href="men">Men</a> -->
            <!-- <button class="btn">Men</button>
           
            <button class="btn">Women</button>
            <button class="btn">Kids</button> -->
            <a href="index.html" class="btn">Men</a>
            <a href="women.html" class="btn">Women</a>
            <a href="kids.html" class="btn">Kids</a>

        </div>

        <div class="product-details" id="men">
            <div class="card">
                <!-- img 1 -->
                <img src="/images/kids1.jfif" alt="">
                <div id="tab">New season</div>
                <div class="pro-head">
                    <h2>Kids Wear For..</h2>
                    <h3>&#8226; Manywar</h3>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button>
                
            </div>
            <div class="card">
                <!-- img 2 -->
                <img src="/images/kids2.jfif" alt="">
                <div class="pro-head">
                    <h2>Kids Wear For.. </h2>
                    <h3>&#8226; Manywar</h3>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                    
                </div>
                <button class="btn-1">Add to card</button>
            </div>
            <div class="card">
                <!-- img 3 -->
                <img src="/images/kids3.jfif" alt="">
                <div id="tab">On offer</div>
                <div class="pro-head">
                    <h2>Kids Wear Co...</h2>
                    <h3>&#8226; Manywar </h3>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button>
            </div>
            <div class="card">
                <!-- img 4 -->
                <img src="/images/kids4.jfif" alt="">
                <div id="tab">New season</div>
                <div class="pro-head">
                    <h2>Kids Wear </h2>
                    <h3>&#8226; Manywar </h3>
                </div>
                <div class="price">
                    <h3>Rs 3000.00</h3>
                    <h3 id="cross">1500.00</h3>
                    <h3 id="discount">50% Off</h3>
                </div>
                <button class="btn-1">Add to card</button> 
            </div>
        </div>
    </div>
    <footer>
        <p>Created By <a href="https://www.linkedin.com/in/akash-morwal/">Akash</a> </p>
    </footer>

</body>
</html>