*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main-conatiner{

    width: 100vw;
    height: 100%;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.heading{
    /* background-color: black;
    color: aliceblue; */
    padding: 20px;
}

.container{

    width: 60%;
    height: 3.5rem;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.btn{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.btn:hover{
    background-color: black;
    color: white;
    
}

.product-details{
    max-width: 90%; ;
    height: 470px;
    border: 3px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

.card{
    width: 320px;
    height: 450px;
    /* border: 2px solid red; */
    margin: 5px;
    text-align: left;
    position: relative;
    /* z-index: -5; */
    /* justify-content: space-evenly; */
}

.card img{
    width: 250px;
    max-height: 350px;
    /* display: none; */
    object-fit:cover;
    border: 2px solid black;
    /* position: relative; */
    position: absolute;
    
}

#tab{
    z-index: 5;
    margin: 10px 20px;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    padding: 10px;
    justify-content: center;
    position: absolute;
    width: 100px;
    /* height: 30px; */
}

.pro-head{
    display: flex;
    margin-top: 355px;

}
.pro-head h3{
   margin: 5px 5px 5px 15px;
    font-size: 1rem;
}

.price{
    display: flex;
    gap: 10px;
}
#cross{
    text-decoration: line-through;
    font-weight: lighter;
    color: rgb(19, 17, 17);
}

#discount{
    color: rgb(240, 31, 31);
}

.card .btn-1{
    width: 250px;
    height: 2.5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
}